@import url(./variaveis.css);

.all{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 5rem;
}

.header{
    background-image: url('../img/fundo.png');
    background-size:cover;
    width: 100%;
    position: relative;
    height: 30%;
}

.cards{
    position: absolute;
    right: 5%;
}

.header__imagem{
    width: 100vw;
    height: 200px
}

.cards__front{
    background: linear-gradient(163.95deg, #6348FE 4.74%, #610595 88.83%);
    border-radius: 10px;
    max-width: 250px;
    margin: 7rem 0 0 -1rem;
    height: 150px;
    position: relative;
    z-index: 10;
}

.cards__front-circle{
    display: flex;
    align-items: center;
    padding: 15px;
}

.cards__front-circle-larger{
    background: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.cards__front-circle-small{
    background: transparent;
    border: 1px solid white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.cards__front-number{
    font-family: var(--font);
    color: white;
    width: 100%;
    background: transparent;
    border: none;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 1.5px;
}

.cards__front-nome-data{
    width: 100%;
    font-size: 12px;
    color: white;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
}

.card-name{
    width: 80%;
}

.div-mes-ano{
    width: 20%;
}

.cards__verso{
    background: linear-gradient(168.73deg, #FFFFFF 5%, #D2D3D9 91.69%);
    border-radius: 10px;
    max-width: 250px;
    height: 150px;
    margin-top: -15.5rem;
    position: relative;
    z-index: 0;
}

.cards__verso-black{
    margin-top: 15px;
    background: #2F2F2F;
    width: 100%;
    height: 30px;
}

.cards__verso-gray{
    background: #ADB5BE;
    border-radius: 5px;
    width: 80%;
    height: 27px;
    margin: 20px auto 10px auto;
    text-align: right;
    padding: 6px 5px;
    color: #FFFFFF;
    font-size: 12px;
}

.cards__verso-detalhes{
    width: 40%;
    margin: 0px 0px 12px 75px;
}

@media screen and (min-width: 1024px){
    .all{
        flex-direction: row;
    }
    .header{
        width: 35%;
        height: 100vh;
    }
    .cards{
        top: 30%;
        right: -8rem;
    }
    .header__imagem{
        height: 100vh;
        width: 500px;
    }
    .cards__front{
        max-width: 440px;
        height: 220px;
        margin-top: -5rem;
    }
    .cards__front-number{
        font-size: 25px;
        margin-top: 60px;
    }
    .cards__front-nome-data{
        font-size: 14px;
        margin-top: 20px;
    }
    .cards__verso{
        max-width: 440px;
        height: 220px;
        margin-top: 2rem;
    }
    .cards__verso-black{
        height: 50px;
        margin-top: 20px;
    }
    .cards__verso-gray{
        height: 35px;
        font-size: 15px;
        padding: 6px 17px;
    }
    .cards__verso-detalhes{
        margin: 5px 130px;
    }
}